footer{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #252627;
    font-size: 20px;
    padding: 30px 10px;
    text-decoration: none;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    box-sizing: border-box;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

footer .footer-logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-logo img {
    height: 110px;
}
footer .footer-datos{
    width: 30%;
}
footer .footer-datos ol ul {
    margin-bottom: 30px;
}
footer .footer-datos ol ul a {
    text-decoration: none;
    color: white;
}
footer .footer-contacto{
    width: 30%;
    text-align: center;
    font-size: 30px;
}
footer .footer-contacto a {
    text-decoration: none;
    color: white;
}
footer .footer-line {
    width: 85%;
    height: 1px;
    top: 0px;
    background-color: white;
}
footer .box-redes {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

footer .box-redes a img{
    width: 60px;
}