#navbar{
    overflow: hidden;
    background-color: #252627;
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-sizing: border-box;
}
#navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0 10px;
}
#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}
#navbar a:hover {
    background-color: #454647;
    color: white;
}
#navbar a.active {
    background-color: #A1B2BE;
    color: black;
}
#navbar-right {
    float: right;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
}
#navbar-right a{
    margin: 0;
    margin-top: 20px;
    
}
/*@media screen and (max-width: 582px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
}